@font-face {
    font-family: avenir;
    src: url(fonts/AvenirLTStd-Roman.otf)
} 
*{
	margin :0px;
	padding:0px;
}
html{ 
	font-family:'avenir';
}          
div,button,input,input:focus{
	outline : none;
}
img {
    display: block;
    height: auto;
    max-width: 100%;
}
h1.title-sent{
	font-size: 24px;
	color: #3b3b3b;
    text-align : center;
    padding-top: 10px;
    font-weight: bold;
}
*:focus {
    outline: 0 !important;
}
.btn-micDiasble{
	background: #fff;
    border: 1px solid #aba0a0;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    color: #d4c3c3;
    font-size: 24px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
	outline:none;
}
.btn-micDiasble:active,
.btn-micDiasble:focus,
.btn-micDiasble:hover{
	background: transparent;
    cursor:not-allowed;
    color: #716d6d;
}
.container-radio {
    display: inline-block;
    position: relative;
    padding-left: 23px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    border: 1px solid #424143;
}
.container-radio .checkmark:after {
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #424143;
}
.container-radio input:checked ~ .checkmark:after {
    display: block;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container-radio input {
    opacity: 0;
    cursor: pointer;
}
body {
    color: #424143;
    font-family:'avenir';
    background-color: #f6f6f6;
    letter-spacing: 1px!important;
}
::-webkit-input-placeholder { 
    color: #d7d7d7;
}
h4.title-sent{
	font-size: 19px;
	color: #424143;
    font-weight: bold;
    display: inline;
}
label{
    font-weight: normal!important;
}
.tag{
    display: inline-block;
    color: white;
    background-color: #E04C4C;
    border-radius: 99px;
    padding: 0.25rem 0.75rem;
    margin-left: 1rem;
}
.btn-outline {
    margin: .5rem;
    border: 1px solid #424143;
    color: #424143;
    min-width: 160px;
    background-color: #ffffff;
    transition: background-color 450ms ease;
}
.btn-solid{
    margin: .5rem;
    color: #dfdfdf;
    min-width: 160px;
    background-color: #424143;
    transition: background-color 450ms ease;
}
.intro-btns {
    flex-direction: column;
    align-items: flex-end;
}
button {
    display: inline-block;
    border: none;
    border-radius: 4px;
    padding: 0.75rem 0.75rem;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.bg-fade{
    background-color: #808081;
    color:#fff;
    box-shadow: 0px 0px 3px 0px rgb(212, 213, 213)
}
.mt-3{
    margin-top: 3rem;
}
.mt-2{
    margin-top: 3rem;
}
.mt-5{
    margin-top: 5rem;
}
.mt-4{
    margin-top: 4rem;
}
.px-1 {
    padding: 0 1rem;
}
.p-2{
    padding: 2rem;
}
.back-to-home a{
    cursor: pointer;
    text-decoration: none;
    color: #424143;
}
.btn-min-210{
    min-width: 210px;
}
.whater-mark{
    width: 20%;
    opacity: 0.1;
    position: fixed;
    right: 4rem;
    bottom: 2%;
}
.loading-container{
    background: #cececea6;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}
@media screen and (max-width: 769px) {
    .intro-btns{ text-align: center;}
    .intro-btns div {
    display: inline-block;
    }
    .whater-mark{
        width: 40%;
    }

}
.time-right{
	color: #747474;
	float: right;
}
.time-left{
	color: #747474;
	float: left;
}
.outputcontainerblue {
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
    margin-bottom: 8px;
    width: 100%;
    word-break: break-word;
    color: #808081;
    font-weight: normal;
}
.asrBox{
	border: 1px solid #dedede;
	overflow: auto;
	height: 370px;
	border-radius: 3px;
	padding: 10px;
	background: #ffffff;
	box-shadow: 0px 0px 3px 0px rgb(212, 213, 213)
}
.align-center {
	text-align: center;
}
